{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero-container">
    <img src="{{ url_for('static', filename='images/home2.png') }}" class="img-fluid" alt="Home Image">

    <div class="hero-text">
        <h1>لقد منّ الله علينا بالفرج من حيث لا نحتسب، وهيأ لنا الأسباب المؤدية إليه</h1>
    </div>
</div>

<div class="container-md mt-5 home_text">
  <h3>كيف سنساعدك؟</h3>
  <p>شكا رجل إلى طبيب وجعاً في بطنه، فسأله الطبيب: "ماذا أكلت؟" أجاب المريض: "أكلتُ طعاماً فاسداً"، فدعا الطبيب بكحلٍ كي يُكحّل عيني المريض، استغرب المريض وقال: "إنّني أشكو ألماً في بطني وليس في عيني"!، أجاب الطبيب: "أعلم ذلك، ولكنّني أكحّلُك لترى الطعام الفاسد جيداً، فلا تأكله!".
  </p>
</div>
{% endblock %}