{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="hero-container">
    <img src="{{ url_for('static', filename='images/home2.png') }}" class="img-fluid" alt="Home Image">

    <div class="hero-text">
        <h1>في رحلة البحث عن أحبائك، تتلألأ شجاعتك ونحن معك حتى تشرق الحقيقة وتعود الأحباب</h1>
    </div>
</div>

<div class="container-md mt-5 mb-5 home_text">
  <h3>كيف سنساعدك؟</h3>
  <p>
    عن طريق هذا الموقع، نهدف الى جعل رحلة البحث عن احبائك اسرع واكثر كفاءة، وذلك من خلال استخدام احدث تقنيات الذكاء الاصطناعي للتعرف على الوجوه، حيث نقوم بمقارنة الصورة التي ترفعها مع بيانات الاشخاص الذين تم العثور عليهم، وابلاغك فور ظهور اي تطابق محتمل. نحن هنا لنقف معك في كل خطوة من هذه الرحلة الصعبة، لتشعر بالدعم والمساندة طوال الوقت.
  </p>
</div>
{% endblock %}