{% extends "base.html" %}

{% block title %}My Uploads{% endblock %}

{% block content %}

<!-- Confirm Delete Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> تاكيد الحذف</h4>
      </div>   
      <div class="modal-body">
        هل انت متاكد انك تريد حذف هذا الشخص؟
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
        <button id="confirmDeleteBtn" type="button" class="btn btn-danger">حذف</button>
      </div>
    </div>
  </div>
</div>

<div class="container-xl mt-3 mb-3">
    <div class="uploaded-pepole-text d-flex mb-3 p-3 rounded  title"> قائمة المفقودين الذين قمت بإضافتهم</div>
    <div class="row gap-5 d-flex justify-content-center rounded m-0 p-5" id="my-uploads-row">
    </div>
</div>

<script src="static/js/missing_list.js"></script>
{% endblock %}