{% extends "base.html" %}

{% block title %}Upload Missing Person{% endblock %}

{% block content %}
<!-- Instructions Modal -->
<div class="modal fade" id="instructions" tabindex="-1" aria-labelledby="instructionsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">تعليمات عن صورة الشخص المفقود</h5>
        </div>
        <div class="modal-body">
          <ul>
            <li>اختر صورة واضحة للوجه، يفضل ان يكون الوجه في اتجاه الامام لا الجانب
              <img src="static/images/faces1.jpg" alt="instruction face" class="img-fluid">
            </li>            
            <li>
              تأكد ان الوجه ظاهر بالكامل دون اي نقص، وانه خال من اي عناصر قد تخفي الملامح مثل النظارات الشمسية او الكمامات
              <img src="static/images/faces2.jpg" alt="instruction face" class="img-fluid">
            </li>
            <li>
              تجنب الصور المظلمة جد او الساطعة جدا التي تخفي ملامح الوجه
              <img src="static/images/faces3.jpg" alt="instruction face" class="img-fluid">
            </li>
            <li>
              اختر صورة بجودة عالية، وتجنب الصور ذات  الجودة المنخفضة جدا. كما تجنب ايضا الصور التي تحتوي على فلاتر تغير ملامح الشخص
              <img src="static/images/faces4.jpg" alt="instruction face" class="img-fluid">
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
      </div>
  </div>
</div>

<!--Container-->
<div class="container-lg mt-4 mb-5 text-center" id="upload-page">
  <p>
    قبل رفع الصورة الرجاء قراءة التعليمات 
    <span data-bs-toggle="modal" data-bs-target="#instructions" id="instruction_link">التالية</span>
  </p>
  <!-- Row -->
  <div class="row justify-content-center align-items-start">
    <!-- Column 1 (Main Missing)-->
    <div class="col-11 col-md-5 ms-md-5 p-2 rounded shadow">
      <div class="p-2 title">
        <p>ادخل بيانات الشخص المفقود</p>
      </div>
      <form method="POST" class="row g-0 justify-content-center" id="form-missing" novalidate>
          <!--image preview-->
          <div class="col-11 p-1 d-flex flex-column align-items-center justify-content-center">
            <label for="input-image" id="drop-area">
                <input type="file" accept="image/*" id="input-image" name="image" required hidden>
                <div id="img-view">
                  <img src="static/images/upload.png" alt="upload icon">
                  <p>ارفع صورة للشخص المفقود<span class="requiredStart">*</span></p>
                </div>
            </label>
          </div>

          <!--image detail-->
          <div class="col-12 p-2 ms-1 me-1 p-0 flex-column align-items-center justify-content-center text-end">
              <!--name & age-->
              <div class="row g-1">
                <div class="col-9">
                  <label for="name">الاسم<span class="requiredStart">*</span></label>
                  <input type="text" name="name" id="name" class="form-control mb-1" placeholder="مثال: احمد محمد" required>
                </div>
                <div class="col-3">
                  <label for="age">العمر</label>
                  <input type="number" name="age" id="age" min="0" max="150" class="form-control mb-1" placeholder="30">
                </div>
              </div>
              <!--Gender &  last seen dat-->
              <div class="row g-2">
                <div class="col-6">
                  <label for="gender">الجنس<span class="requiredStart">*</span></label>
                  <select id="gender" name="gender" class="form-select" required>
                    <option value="" selected hidden>اختر الجنس</option>
                    <option value="1">ذكر</option>
                    <option value="2">انثى</option>
                  </select>
                </div>
                <div class="col-6">
                  <label for="lastSeenDate">تاريخ اخر مشاهدة</label>
                  <input type="date" class="form-control mb-2 text-end holder" name="lastSeenDate" id="lastSeenDate">
                </div>
              </div>
                <!--last seen location-->
                <label for="lastSeen" class="mb-1">اخر مكان شوهد فيه</label>
                <textarea class="form-control mb-2" name="lastSeen" id="lastSeen" rows="2" placeholder="مثال: شوهد في امدرمان - في الثورة"></textarea> 
              <!--contact numbers-->
              <div class="row  justify-content-center align-items-end g-2 mb-2">
                <div class="col-6">
                    <label for="phoneNum1">رقم هاتف للتواصل<span class="requiredStart">*</span></label>
                    <input type="text" name="phoneNum1" id="phoneNum1" class="form-control" pattern="^\+?[0-9]{8,15}$" placeholder="249xxxxxxxxx+" required>
                </div>
                <div class="col-6">
                    <label for="phoneNum2">رقم اخر للطوارئ<span class="requiredStart">*</span></label>
                    <input type="text" name="phoneNum2" id="phoneNum2" class="form-control" pattern="^\+?[0-9]{8,15}$" placeholder="249xxxxxxxxx+" required>
                </div>
              </div>
          </div>
          <!--error message-->
          <div class="col-11" role="alert" id="errorMessage" hidden>
            الرجاء ملء جميع الحقول المطلوبة
          </div>
          <!--submit-->
          <div class="col-12 d-grid">
             <button class="btn btn-success send-btn ms-2 me-2 mb-3" type="submit">ارسال</button>
          </div>
      </form>
    </div>  

    <!-- Column 2 (Result)-->
    <div class="col-11 col-md-5 me-md-5 p-2 rounded shadow mt-5 mt-md-0" id="result-column">      
      <div class="p-2 title percent-container">
        <p class="percent">90%</p>
        <div class="percent_circle"></div>
      </div>  
      <div class="row g-0 justify-content-center">
        <div class="col-11 p-1 d-flex flex-column align-items-center justify-content-center">
          <div id="drop-result">
              <div id="imgResult-view" style="background-image: url('static/uploads/hostage2.jpg');">
          </div>
        </div>
      </div>
    </div>
  </div>

  <br> 
  
  <!--<form method="POST" enctype="multipart/form-data">
    <input type="file" name="image" required>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>-->

</div>

<script src="static/js/upload.js"></script>
{% endblock %}
احتياطي